{% extends 'base.html' %}
{% load static %}
{% block head %}

{% block title %}Blog{% endblock title %}
 
{% endblock head %}
{% block body %}

<div class="col-sm-9">
<h4><small>RECENT POSTS</small></h4>

{% for blog in blogs%}



      <hr>
      <h2>{{blog.title}}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Author, {{blog.date}}</h5>
      {% if blog.image %}
      <img src='media/{{ blog.image }}'>
      {% endif %}
      <p>{{blog.content | safe}}</p>
      <br><br>
      {% endfor%}
      
      


{% endblock body %}
