{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row mt-5 my-auto" style="border:1px solid black">
        <div class="col-sm mb-5 mt-5">
            <a href="https://stake.com/?c=cc41fdd5"><img class="img-fluid" src={% static 'stake.jpg' %}></a>
        </div>
        <div class="col-sm my-auto">
        - Weekly bonuses on friday/saturday<br>
        - Monthly bonus and daily reloads<br>
        - Live blackjack, baccarat, poker and many more<br>
        - Sports betting, rakeback<br>
        - Quite insane level up bonus(<b>LITERALLY!!</b>)
        </div>
        <div class="col-sm  my-auto">
            <a href="https://stake.com/?c=cc41fdd5"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
        </div>

    <div class="row mt-5  my-auto" style="border:1px solid black">
        <div class="col-sm  mt-2">
            <a href="https://mbitcasinopartners2.com/a2cafd017"><img class="img-fluid"  src={% static 'mbit.png' %}></a>
        </div>
        <div class="col-sm my-auto">
        - Weekly bonuses on friday/saturday<br>
        - Monthly bonus and daily reloads<br>
        - Live blackjack, baccarat, poker and many more<br>
        - Sports betting, rakeback<br>
        - Quite insane level up bonus(<b>LITERALLY!!</b>)
        </div>
        <div class="col-sm my-auto">
            <a href="https://mbitcasinopartners2.com/a2cafd017"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
        </div>
</div>
{% endblock body %}
