{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row mt-5 my-auto" style="border:1px solid black">
        <div class="col-sm mb-5 mt-5">
            <a href="https://stake.com/?c=cc41fdd5"><img class="img-fluid" src={% static 'stake.jpg' %}></a>
        </div>
        <div class="col-sm my-auto">
        - Weekly bonuses on friday/saturday<br>
        - Monthly bonus and daily reloads<br>
        - Live blackjack, baccarat, poker, slots and many more<br>
        - Sports betting, rakeback<br>
        - Quite insane level up bonus(<b>LITERALLY!!</b>)
        - Regular bonus drops in telegram group<br>
        - Various contests in forums<br>


        </div>
        <div class="col-sm  my-auto">
            <a href="https://stake.com/?c=cc41fdd5"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
        </div>

    <div class="row mt-5  my-auto" style="border:1px solid black">
        <div class="col-sm  mt-2">
            <a href="https://mbitcasinopartners2.com/a2cafd017"><img class="img-fluid"  src={% static 'mbit.png' %}></a>
        </div>
        <div class="col-sm my-auto">
        - Weekly bonus<br>
        - Free spins on leveling up<br>
        - Live blackjack, baccarat, poker, slots and many more<br>
        - Deposit bonus and cashback<br>
        - Exclusive jackpot games
        </div>
        <div class="col-sm my-auto">
            <a href="https://mbitcasinopartners2.com/a2cafd017"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
    </div>

    <div class="row mt-5  my-auto" style="border:1px solid black">
        <div class="col-sm  mt-2">
            <a href="https://bs.direct/b50df73e2"><img class="img-fluid"  src={% static 'bit.png' %}></a>
        </div>
        <div class="col-sm my-auto">
        - Reloads on every monday<br>
        - Email bonus<br>
        - <b>100% Deposit bonus and 180 free spins</b><br>
        - Free spins on leveling up<br>
        - Live blackjack, baccarat, poker, slots and many more<br>
        </div>
        <div class="col-sm my-auto">
            <a href="https://bs.direct/b50df73e2"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
    </div>

    <div class="row mt-5  my-auto" style="border:1px solid black">
        <div class="col-sm  mt-2">
            <a href="https://duckdice.io/?c=aed14e6687"><img class="mt-5 mb-5" style="height:70px" class="img-fluid"  src={% static 'duck.png' %}></a>
        </div>
        <div class="col-sm my-auto">
        - <b>Free faucet which increases on leveling up</b><br>
        - Email bonus<br>
        - <b>100% Deposit bonus</b><br>
        - Rakeback, lottery, refunds and many bonuses<br>
        </div>
        <div class="col-sm my-auto">
            <a href="https://duckdice.io/?c=aed14e6687"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
    </div>

    <div class="row mt-5  my-auto" style="border:1px solid black">
        <div class="col-sm  mt-2">
            <a href="https://bc.game/i-38p8gn33-n/"><img style="height:200px" class="img-fluid"  src={% static 'bc.png' %}></a>
        </div>
        <div class="col-sm my-auto">
        - <b>Daily bonus</b><br>
        - Bonus on leveling up<br>
        - <b>Free USD on deposits</b><br>
        - Regular bonuses in forums <br>
        - Live blackjack, baccarat, poker, slots and many more<br>
        </div>
        <div class="col-sm my-auto">
            <a href="https://bc.game/i-38p8gn33-n/"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
    </div>

    <div class="row mt-5  my-auto" style="border:1px solid black">
        <div class="col-sm  mt-2">
            <a href="https://bc.game/i-38p8gn33-n/"><img style="height:200px" class="img-fluid"  src={% static 'bc.png' %}></a>
        </div>
        <div class="col-sm my-auto">
        - <b>Daily bonus</b><br>
        - Bonus on leveling up<br>
        - <b>Free USD on deposits</b><br>
        - Regular bonuses in forums <br>
        - Live blackjack, baccarat, poker, slots and many more<br>
        </div>
        <div class="col-sm my-auto">
            <a href="https://bc.game/i-38p8gn33-n/"><img class="img-fluid" style="height:100px" src={% static 'play.png' %}></a>
        </div>
    </div>
</div>
{% endblock body %}
